@model PostManagementSystem.Models.PostOffice

@{
    ViewData["Title"] = "Delete";
}

<div class="index-list-bg">
    <div class="page-title-frame">
        <h1>Delete</h1>
    </div>
    <br />

    <h3>Are you sure you want to delete this?</h3>
    <br />

    <div>
        <h4>PostOffice</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.packageSCapacity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.packageSCapacity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.packageMCapacity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.packageMCapacity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.packageLCapacity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.packageLCapacity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address.FullAddress)
            </dd>
        </dl>
        <br />

        <form asp-action="Delete">
            <input type="hidden" asp-for="PostOfficeID" />
            <input type="submit" value="Delete" class="btn btn-danger create-button" />
        </form>

        <br />
        <div>
            <form asp-action="Index" asp-controller="PostOffices" method="get" style="display:inline;">
                <button type="submit" class="btn btn-primary create-button" id="createButton" data-some-attribute="value">Back to List</button>
            </form>

        </div>
    </div>
</div>


