@model IEnumerable<PostManagementSystem.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<div class="page-title-frame">
    <h1>Customers</h1>
</div>
<br />

<div class="index-list-bg">

    <p>
        <a asp-action="Create" asp-controller="Customers" method="post" style="display:inline;">
            <button type="submit" class="btn btn-primary create-button" id="createButton" data-some-attribute="value">Add Customer Details</button>
        </a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="guid-copy-container">
                            <button type="button" class="btn btn-primary copyID-button"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="@item.ID.ToString()"
                                    onclick="copyToClipboard('@item.ID.ToString()')">
                                Copy ID
                            </button>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>
    // Initialize tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    // Function to copy GUID to clipboard
    function copyToClipboard(text) {
        var tempInput = document.createElement("input");
        tempInput.style.position = "absolute";
        tempInput.style.left = "-1000px";
        tempInput.value = text;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);

        // Optionally, you can provide some feedback that the text was copied
        alert("ID copied to clipboard: " + text);
    }
</script>
