@model PostManagementSystem.Models.Delivery

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Delivery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedDeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedDeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusUpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DeliveryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
