@model IEnumerable<PostManagementSystem.Models.Delivery>

@{
    ViewData["Title"] = "Deliveries";
}

<div class="page-title-frame">
    <h1>Active Deliveries</h1>
</div>
<br />

<div class="index-list-bg">
    
    <p>
        <a asp-action="ListPackaging" asp-controller="PackageTypes" style="display:inline;">
            <button type="submit" class="btn btn-primary create-button" id="createButton" data-some-attribute="value">Request Delivery</button>
        </a>
    </p>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <div class="row">
                <div class="col-md-1">
                    Find by status:
                </div>
                
                <div class="col-md-2">
                    <select name="SearchString" class="form-control" id="SearchString">
                    <option value="">-- Select a name --</option>
                    @foreach (var name in (SelectList)ViewData["Names"])
                    {
                        <option value="@name.Text">@name.Text</option>
                    }
                    </select>
                </div>
                
                <div class="col-md-1">
                    <a asp-action="ListPackaging" asp-controller="PackageTypes" style="display:inline;">
                        <button type="submit" value="Search" class="btn btn-primary create-button" id="searchButton" data-some-attribute="value">Search</button>
                    </a>
                </div>

                <div class="col-md-2">
                    <a asp-action="Index" asp-controller="Deliveries" style="display:inline;">
                        <button type="submit" class="btn btn-primary back-to-list-button" id="toFullListButton" data-some-attribute="value">Back to Full List</button>
                    </a>
                </div>
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    User
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                   
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Package)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(ViewData["DateSortParm"])">Expected delivery date</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusUpdateDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="guid-copy-container">
                            <button type="button" class="btn btn-primary copyID-button"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="@item.DeliveryID.ToString()"
                                    onclick="copyToClipboard('@item.DeliveryID.ToString()')">
                                Copy ID
                            </button>
                        </div>
                    </td>
                    <td class="col-md-6">
                        @Html.DisplayFor(modelItem => item.SenderPostOffice.Address.FullAddress)
                    </td>
                    <td class="col-md-6">
                        @Html.DisplayFor(modelItem => item.ReceiverPostOffice.Address.FullAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td>
                        @if (item.Status.Image != null)
                        {
                            <img src="@Url.Action("GetImage", "Status", new { id = item.Status.StatusID })" alt="Status Image" width="60" height="40" />
                        }
                        else
                        {
                            <p>No image available</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Name)
                    </td>
                    <td>
                        @if (item.Package.Type.Image != null)
                        {
                            <img src="@Url.Action("GetImage", "PackageTypes", new { id = item.Package.Type.PackageTypeID })" alt="Package Image" width="50" height="50" />
                        }
                        else
                        {
                            <p>No image available</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectedDeliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusUpdateDate)
                    </td>

                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.DeliveryID">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.DeliveryID">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.DeliveryID">Delete</a>
                        </td>
                    }
                    else
                    {
                        if (item.Status.Name == "Delivered")
                        {
                            <td>
                                <div class="col-md-1">
                                    <a asp-action="CollectPackage" asp-controller="Deliveries" asp-route-id="@item.DeliveryID" style="display:inline;">
                                        <button type="submit" value="Search" class="btn btn-primary create-button" id="searchButton" data-some-attribute="value">Collect</button>
                                    </a>
                                </div>
                                <a asp-action="Details" asp-route-id="@item.DeliveryID">Details</a>
                            </td>
                            
                        }
                        else
                        {
                            <td>
                                <div class="col-md-1">
                                    <a>
                                        <button style="background-color: darkgrey" type="submit" value="Search" class="btn btn-primary create-button" id="searchButton" data-some-attribute="value" disabled>Collect</button>
                                    </a>
                                </div>
                                <a asp-action="Details" asp-route-id="@item.DeliveryID">Details</a>
                            </td>
                            
                        }

                    }

                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    // Initialize tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    // Function to copy GUID to clipboard
    function copyToClipboard(text) {
        var tempInput = document.createElement("input");
        tempInput.style.position = "absolute";
        tempInput.style.left = "-1000px";
        tempInput.value = text;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);

        // Optionally, you can provide some feedback that the text was copied
        alert("ID copied to clipboard: " + text);
    }
</script>
